.accordian__header {
  padding: 1em 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 2px solid #0c9437;
}
.accordian__header--open {
  background: #0c9437;
  color: #fff;
}
.accordian__header:hover {
  background: #0c9437;
}
.accordian__icon {
  cursor: pointer;
}
.accordian__icon:hover {
  transform: scale(1.3);
}
.accordian__body {
  opacity: 0;
  max-height: 0px;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
  padding: 0em 3rem 0em 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.accordian__body--open {
  opacity: 1;
  max-height: 500px;
  padding: 2em 3rem 2em 2rem;
  border-bottom: 2px solid #0c9437;
}
.accordian__image {
  width: 95%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.accordian__image img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: top top;
}
.accordian__info {
  align-self: start;
}
.accordian__name {
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}
.accordian__affiliation {
  font-size: 2rem;
}
.accordian__species {
  font-size: 1.3rem;
  margin: 0.9em 0 0.7em;
}
.accordian__description {
  font-size: 1rem;
  line-height: 1.6;
}

@media (min-width: 992px) {
  .accordian__body {
    flex-direction: row;
  }
  .accordian__image {
    max-width: 50%;
    margin-bottom: 0;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
  }
  .accordian__info {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
